<div class="widget">
    <div class="left-panel panel">
        <div class="date">
            <div>
                2019年8月28日
            </div>
            <div>
                ，农历正月初一
            </div>
            <div class="more-weather">
                未来3天
            </div>
        </div>
        <div class="city">
            {{weatherCity}}
        </div>
        <div class="temp">
            <img src="https://s5.postimg.cc/yzcm7htyb/image.png" alt="" width="60">
            <span [countUp]="temperature">0</span>&deg;
        </div>
    </div>
    <div class="right-panel panel">
        <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
    </div>
</div>