<div id="title-bar" *ngIf="electronService.isElectron()&& display">
   <ul id="title-bar-btns">
      <li id="min-btn" (click)="min()">
         <i nz-icon type="minus" theme="outline"></i>
      </li>
      <li id="max-btn" (click)="max()">
         <i nz-icon *ngIf="!electronService.isMaximized" type="border" theme="outline" style="font-size: 13px"></i>
         <i nz-icon *ngIf="electronService.isMaximized" type="fullscreen-exit" theme="outline" style="font-size: 13px"></i>
      </li>
      <li id="close-btn" (click)="close()">
         <i nz-icon type="close" theme="outline"></i>
      </li>
   </ul>
</div>