.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 56px;
  line-height: 56px;
  border-radius: 56px;
  background: rgba(255, 255, 255, .2);
  margin: 48px 12px 16px 12px;
}

li {
  height: 48px !important;
  line-height: 45px !important;
  margin: 0px !important;
  border: none;
  i{
    font-size: 20px !important; //设置图标大小
  }
  // 去掉点击的时候的外边框
  span{
    outline:none;
  }
}
