<div class="logo">
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
    <!-- <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
        <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
        </ul>
    </li> -->
    <li nz-menu-item nz-tooltip nzTitle="日历" nzPlacement="right" routerLinkActive="ant-menu-item-selected"><span  [routerLink]="['/dashboard']"><i nz-icon type="calendar" theme="fill"></i></span></li>
    <li nz-menu-item nz-tooltip nzTitle="笔记" nzPlacement="right" routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="book" theme="fill"></i></span></li>
    <li nz-menu-item nz-tooltip nzTitle="待办" nzPlacement="right" routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="check-square" theme="fill"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected"><span><i nz-icon type="file"></i></span></li>
</ul>