/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background-color: #464c5b;
}
.ant-layout-sider{
  background-color: #464c5b;
}
.ant-layout-sider-collapsed{
  flex: 0px 0px 70px !important;
  max-width: 70px !important;
  min-width: 70px !important;
  width: 70px !important;
}

